<a href="https://colab.research.google.com/github/harini-siva03/FODS/blob/main/Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv("choclate protfolio project - 11.csv")
print(df.head())

     Sales Person    Geography               Product   Amount  Units  \
0      Ram Mahesh  New Zealand        70% Dark Bites  $1,624     114
1     Brien Boise          USA  Choco Coated Almonds  $6,706     459
2    Husein Augar          USA          Almond Choco    $959     147
3    Carla Molina       Canada         Drinking Coco  $9,632     288
4  Curtice Advani           UK            White Choc  $2,100     414

   cost per unit   Cost    Profit profit %
0             14  1,652     ($28)      -2%
1              9  3,970   $2,736       41%
2             12  1,746    ($787)     -82%
3              6  1,863   $7,769       81%
4             13  5,444  ($3,344)    -159%

In [3]:
#identify the features
features = df.columns
print(features)

Index(['Sales Person', 'Geography', 'Product', 'Amount', 'Units',
       'cost per unit', 'Cost', 'Profit', 'profit %'],
      dtype='object')

In [5]:
#identify the datatypes
data_types=df.dtypes
print(data_types)

Sales Person     object
Geography        object
Product          object
Amount           object
Units             int64
cost per unit     int64
Cost             object
Profit           object
profit %         object
dtype: object

In [7]:
#summary
summary=df.describe()
print(summary)

            Units  cost per unit
count  300.000000     300.000000
mean   152.200000       9.473333
std    118.099499       3.457717
min      0.000000       3.000000
25%     54.000000       6.000000
50%    124.500000       9.000000
75%    220.500000      12.000000
max    525.000000      17.000000